.card-list {
    background: #D4D2D2;
}

.card-container {
    padding: 10px;
    float: left;
    text-align: center;
    width: 10%;
}

.content-container {
    padding: 10px;
    float: left;
    width: 80%;
}