<div class="card card-list m-3">
    <div *ngIf="isLoading === false">
        Loading...
    </div>
    <div *ngIf="isLoading">
        <div class="card-container">
            <img class="card-img-top card-list" src={{article.urlToImage}} onError="this.src='FrontCamp2019AngularModulePart23.github.io/dist/assets/img/mock-img.png';" alt="image">
        </div>
        <div class="content-container">
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text">{{article.content}}</p>
            <p class="card-text">{{article.publishedAt | date:"dd/MM/yyyy"}}</p>
            <p class="card-text">{{article.author}}</p>
        </div>
        <div class="card-container">
            <div class="btn-group-vertical" *ngIf="isCreatedByMe">
                <button type="button" class="btn btn-outline-primary" (click)="edit(article._id)">Edit</button>
                <button type="button" class="btn btn-outline-danger" (click)="delete(article._id)">Delete</button>
            </div>
        </div>
    </div>
</div>
