.app-menu {
    background: #D4D2D2;
    padding: 16px;
    height: 80px;
}
.container-left {
    width: 50%;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    float: left;
}
.container-right {
    width: 50%;
    text-align: right;
    float: left;
}
