<app-menu></app-menu>
<app-header [title]="title"></app-header>
<option-example-element
        (onSourceChange)="onSourceChange($event)"
        (onFilterClick)="onFilterClick($event)"
        (onCheckedByMe)="onCheckedByMe($event)"
        [selectedSources]="selectedSources"
        [inputFilter]="inputFilter"
        [sources]="sources">
</option-example-element>
<div #articlesList></div>
<!--<ul *ngFor="let article of articles | articleFilter: inputFilter;">
        <app-article 
                [article]="article"
                (onDelete)="onDelete($event)">
        </app-article>
</ul>-->
<app-load-more (onLoadMore)="onLoadMore()"></app-load-more>
<app-footer></app-footer>

